<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid fixed>
    <!-- <canvas #weekChart></canvas> -->

    <ion-row>
      <ion-col size="6">
        <app-date-range-chart range="last7days"></app-date-range-chart>
      </ion-col>
      <ion-col size="6">
        <app-date-range-chart range="last30days"></app-date-range-chart>
      </ion-col>
    </ion-row>

    <div class="flex overflow-x-auto py-3">
      <div *ngFor="let sumByCategory of (sumByCategories | async)" class="px-2">
        <span class="text-sm ion-text-nowrap">{{ sumByCategory.categories_emoji }} {{ sumByCategory.total | currency }}</span>
      </div>
    </div>

    <ion-list *ngFor="let date of dates" class="ion-no-padding">
      <ion-item-divider color="light" [sticky]="true" class="text-xl ion-padding">
        {{ date | date:'mediumDate' }} - {{ totalByDate[date] | currency }}
      </ion-item-divider>
      
      <div class="ion-margin-horizontal">
        <app-transaction-item 
          *ngFor="let transaction of (transactionsByDate[date] | async)" [transaction]="transaction"
          class="w-full"
          (afterSave)="afterSaveTransactionToDate(date)"
          (evCancel)="onCancel()">
        </app-transaction-item>

        <app-transaction-item
          *ngIf="newTransactionDate === date"
          [date]="date"
          state="edit"
          class="w-full"
          (afterSave)="afterSaveTransactionToDate(date)"
          (evCancel)="onCancel()">
        </app-transaction-item>
      </div>


      <ion-button expand="block" fill="outline" class="ion-margin" (click)="addTransactionToDate(date)">
        <ion-label>Adicionar</ion-label>
      </ion-button>
    </ion-list>
  </ion-grid>
  
</ion-content>
