<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid fixed>
    <ion-list *ngFor="let date of dates">
      <ion-item-divider [sticky]="true">
        {{ date | date:'mediumDate' }} - {{ totalByDate[date] | currency }}
      </ion-item-divider>
      
      <app-transaction-item 
        *ngFor="let transaction of (transactionsByDate[date] | async)" [transaction]="transaction"
        class="w-full">
      </app-transaction-item>

      <app-transaction-item
        *ngIf="newTransactionDate === date"
        [date]="date"
        state="edit"
        class="w-full"
        (afterSave)="afterSaveTransactionToDate(date)">
      </app-transaction-item>

      <ion-button expand="block" fill="outline" (click)="addTransactionToDate(date)">
        <ion-label>Adicionar</ion-label>
      </ion-button>
    </ion-list>
  </ion-grid>
  
</ion-content>
